body{
  font-family: "kalam";
}

/* NAV */
  
body>nav{
    width: 100%;
    margin: 4vh auto auto auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  
  body>nav>button {
    width: 15vw;
    height: 5vw;
    margin: 0 1.9vw 0 1.9vw;
    background-color: rgba(178, 0, 124, 1);
    color: white;
    text-decoration: none;
    font-size: 1.8vw;
    border: none;
    border-radius: 1vw;
    font-family: "kalam2";
  }
  
  body>nav>button:hover {
    background-color: rgba(178, 0, 122, 0.7);
    color: white;
  }

/* Bouton pour ajouter une offre */  

body>a:first-of-type {
    width: 20%;
    height: auto;
    margin: 1.5vw auto 1.5vw 5vw;
    background-color: rgb(197, 147, 197);
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.5%;
    border: none;
    border-radius: 1.5vw;
    text-align: center;
    font-size: 1.5vw;
}

body>a:first-of-type:hover {
    background-color: violet;
    color: black;
}

/* body */

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  align-items: stretch;
  box-sizing: border-box;
  margin: 0;
  background-attachment: fixed;
  background-size: 100%;
  object-fit: cover;
}

#logement{
  background-image: url("../medias/backgroundlogement.jpeg");
}

#restaurant{
  background-image: url("../medias/restaurantfond.jpg");
}

#activites{
  background-image: url("../medias/activitefons.jpg");
}

/* Main */


main {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 1rem;
  padding: 2.5vw 0;
  margin-bottom: 1.5vw;
}
main>section {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 2vh auto 2vh auto;
  background-color: rgba(255, 255, 255, 1);
  width: 90%;
  border-radius: 1rem;
  text-align: center;
  padding: 3%;
}

main>section>div{
    margin: auto;
    grid-area: 1/1/2/2;
    width: 90%;
}

main>section>img {
  margin: auto;
  width: 90%;
  height: 20vw;
  border-radius: 1rem;
  object-fit: cover;
}

main>section>div>h3 {
  font-size: 1.8vw;
  font-family: "kalam";
}

main>section>div>p {
  font-size: 1.2vw;
  font-family: "kalam";
  margin: auto;
}


main>section>div>p:first-of-type {
  margin-bottom: 3vh;
  font-size: 1.3vw;
}

main>section>div>p:last-of-type {
  margin-top: 5vh;
  font-size: 1vw;
  font-style: italic;
  text-align: right;
}

main>section>div>a {
  color: black;
  margin: 0;
  text-decoration: none;
  color: rgba(178, 0, 124, 1);
  text-align: center;
  font-size: 1.2vw;
  width: 100%;
}

main>section>div>a:hover{
  color: rgba(178, 0, 122, 0.7); 
  font-size: 1rem;
  transition-delay: 0.1s;
  transition-duration: 300ms;
}

