/* FORME */
* {
    box-sizing: border-box;
    margin: 0;
}

@font-face{
    font-family: "adventure";
    src: url('quadranta.otf') format('truetype');
}

/* ------------------------------------------------------------------------------ */
/* HEADER */

header{
    width: 100%;
}

body>header {
    background-color: rgba(178, 0, 124, 1);
}

header>div {
    display: flex;
    flex-flow: row nowrap;
}

header>div>h1 {
    text-align: center;
    font-size: 5vw;
    font-family: "adventure";
    color: white;
    margin: auto 10vw auto auto;
}

header>div:first-of-type>a>img:first-of-type {
    width: 10vw;
    height: auto;
    margin: auto auto auto 2vw;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    margin-right: 3vw;
}

.img>img {
    width: 100%;
    margin: auto 2vw auto auto;
}



header>div>div {
    display: flex;
    flex-flow: row nowrap;
}

.co {
    height: 3vw;
    padding: 5%;
    width: 10vw;
    margin: auto;
    background-color: white;
    color: rgba(178, 0, 124, 1);
    font-size: 1.1vw;
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 3vw;
}

.co:hover {
    background-color: rgba(252, 255, 255, 0.8);
    color: rgba(175, 0, 124, 0.7);
    font-size: 1.2vw;
    transition-duration: 0.2s;
    transition-delay: 200ms;
}

/* --------------------------------------------------------------------------*/
/* SECTION */

.banniere {
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.banniere>h2 {
    font-size: 4vw;
    color: rgba(178, 0, 124);
    font-family: "adventure";
    text-align: center;
    margin: 0;
}

.banniere>img {
    margin: 1vw;
    height: 8vw;
    width: 8vw;
}

/* -------------------------------------------------------------------------- */
/* FOOTER*/

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: auto;
    background-color: black;
    color: white;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 100%;
}

footer>div {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 3%;
    margin: 1vh 0;
    width: 25%;
}

footer>div>a {
    font-size: 1.5vw;
    font-family: "adventure";
}

footer>div>a {
    text-decoration: none;
    color: white;
}

footer>div>a:hover {
    color: rgba(175, 0, 124, 0.7);
    transition-duration: 0.4s;
    transition-delay: 150ms;
}

/*gestion des icone svg réseaux sociaux*/

footer>div:last-of-type{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

footer>div:last-of-type>a{
    margin: auto 1vw auto 1vw;
}
