* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: white;
    font-family: "kalam";
}

/* Diaporama */

/*Carroussel*/


.slider-frame{
    overflow: hidden;
    height: 20vw;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}


@-webkit-keyframes slide-animation{
    0%{left:0;}
    7%{left:0;}
    14%{left:80vw;}
    21%{left:80vw;}
    38%{left:160vw;}
    45%{left:160vw;}
    52%{left:240vw;}
    59%{left:240vw;}
    66%{left:160vw;}
    73%{left:160vw;}
    80%{left:80vw;}
    87%{left:80vw;}
    94%{left:0;}
    100%{left:0;}
}

.slide-image{
    width: 320vw;
    height: 20vw;
    margin: 0 0 0 -240vw;
    position: relative;
    -webkit-animation-name: slide-animation;
    -webkit-animation-duration: 50s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -webkit-transition-delay: 4s;
}

.img-container{
    height: 20vw;
    width: 80vw;
    position: relative;
    float: left;
}

.img-container>img{
    height: 20vw;
    width: 80vw;
    object-fit: cover;
    border-radius: 2%;
}

/* --------------------------------------------------------------------------- */
/* SECTION */

body>section:nth-of-type(1) {
    display: none;
}

body>section>article {
    margin: 1vh auto 2vh auto;
    width: 30vw;
    height: 95%;
}

body>section>h3 {
    color: rgba(178, 0, 124, 1);
    font-weight: bold;
    font-size: 1.5vw;
    margin: 2vw auto 0 auto;
    text-align: justify;
}

body>section>article>form {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

body>section>article>form>div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

body>section>article>form>div>label {
    color: rgba(178, 0, 124, 1);
    font-size: 2vw;
    margin: 2vh auto 1vh auto;
}

body>section>article>form>div>input {
    border: 0;
    font-size: 1.5vw;
    border-radius: 1vh;
    color: grey;
    text-align: center;
    width: 18vw;
    margin: auto;
}

body>section>article>form>input {
    width: 30%;
    height: 3vw;
    font-size: 1.8vw;
    background-color: rgba(178, 0, 124, 1);
    color: white;
    border-radius: 1vw;
    border: 0;
    margin: 2vh auto 2vh auto;
}

body>section>article>form>input:hover {
    background-color: rgba(252, 255, 255, 0.8);
    color: rgba(175, 0, 124, 0.7);
}

/* ---------------------------------------------------------------------------------- */
/* NAV */

body>nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    padding-top: 2vh;
    margin: 0 2vw;
}

body>nav>a {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    border-collapse: collapse;
    border-right: solid 0.5px rgba(178, 0, 124, 1);
    border-bottom: solid 2px rgba(178, 0, 124, 1);
    border-left: solid 0.5px rgba(178, 0, 124, 1);
    margin: 0;
    font-size: 2vw;
    font-family: "adventure";
    color: rgba(178, 0, 124, 1);
    height: 10vw;
}


body>nav>a:hover>p{
   color: rgba(178, 0, 124, 0.7);
    font-size: 2.5vw;
    transition-duration: 300ms;
}

body>nav>a:hover>img{
    height: 7vw;
    transition-duration: 300ms;
}

body>nav>a:first-of-type {
    border-left: solid 2px rgba(178, 0, 124, 1);
}

body>nav>a:last-of-type {
    border-right: solid 2px rgba(178, 0, 124, 1);
}

body>nav>a>img {
    height: 6vw;
    margin: 1vh auto 3vh auto;
}

body>nav>a>p {
    margin: auto auto 0 auto;
}

/* -------------------------------------------------------------------------------------- */
/* MAIN */

main{
    display: flex;
    flex-direction: column;
}

main>section{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1vw 0;
}

main>section>h2{
    font-family: "adventure";
    margin: 1vw 3vw;
    font-size: 1.7vw;
}

main>section>div{
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

main>section>div>article{
    width: 30vw;
}

main>section>div>article>a{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
}

main>section>div>article>a>h3{
    margin: 0.5vw 1vw;
    font-size: 1.3vw;
    text-align: center;
    font-family: "kalam";
}

main>section>div>article>a>img{
    width: 30vw;
    height: 20vw;
    border-radius: 1vw;
    object-fit: cover;
}

/*hover article */

main>section>div>article>a:hover>h3{
    color: rgba(178, 0, 124, 1);
    transition-duration: 300ms;
    transition-delay: 100ms;
}

main>section>div>article>a:hover>img{
    transition-duration: 300ms;
    transition-delay: 100ms;
    width: 31vw;
    height: 21vw;
    margin: auto;
}